/* INIZIO RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* FINE RESET */

/* REGOLE GENERALI */
body {
  font-family: 'Roboto', sans-serif;
}
.container {
  height: 100%;
  width: 1280px;
  margin: auto;
  position: relative;
}
ul {
  list-style-type: none;
}
.col {
  float: left;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
/* FINE REGOLE GENERALI */

/* INIZIO HEADER */
header {
  height: 600px;
  color: white;
  background-color: #0d325a;
  background-image: url(../img/background-header.png);
  background-repeat: no-repeat;
  background-size: 1024px;
  background-position: 107% 100%;
}
/* menù navigazione */
header nav {
  padding-top: 10px;
  line-height: 50px;
}
header nav .logo {
  width: 15%;
}
header nav .menu-center {
  width: 45%;
}
header nav .menu-right {
  width: 40%;
  text-align: right;
}
header nav .menu li {
  display: inline-block;
}
header a {
  color: white;
  font-size: 12px;
  margin-right: 20px;
  text-decoration: none;
  text-transform: uppercase;
}
header a:hover {
  color: orange;
}
header nav .menu li a.login {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px 50px;
}
header a.item-green {
  background: #7dba00;
  border-radius: 5px;
  padding: 10px 10px;
}
/* Fine menù navigazione */

/* teaser */
header .teaser {
  width: 640px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}
header .teaser h1 {
  font-size: 60px;
}
header .teaser a {
  margin-top: 30px;
  display: inline-block;
}
header .teaser a.cta {
  font-size: 15px;
  padding: 20px 15px;
}
/* Fine teaser */

/* FINE HEADER */

/* INIZIO MAIN */

/* banner */
main .banner {
  height: 150px;
  background: #d9d9dd;
  text-align: center;
}
main .banner .text-banner {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main .banner .text-banner h2 {
  font-size: 30px;
  margin-bottom: 15px;
}
main .banner .text-banner span {
  font-size: 20px;
  color: gray;
}
/* FINE MAIN */
