/* INIZIO RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* FINE RESET */

/* HELP */
.help {
  line-height: 34px;
  position: fixed;
  bottom: 0;
  right: 7%;
  transform: translate(-50%, 0);
}
/* FINE HELP */

/* REGOLE GENERALI */
body {
  font-family: 'Roboto', sans-serif;
}
main {
  text-align: center;
}
.container {
  height: 100%;
  width: 90%;
  margin: auto;
  position: relative;
}
.col {
  float: left;
}
.banner {
  height: 150px;
  background: #d9d9dd;
}
h3 {
  font-size: 30px;
  margin-bottom: 15px;
}
ul {
  list-style-type: none;
}
a.item-green {
  background: #7dba00;
  border-radius: 5px;
  padding: 10px 10px;
}
.white a {
  color: white;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
}
.white a:hover {
  color: orange;
}
a.cta {
  font-size: 15px;
  padding: 20px 15px;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.right {
  text-align: right;
}
.right > * {
  margin-left: 20px;
}
/* FINE REGOLE GENERALI */

/* INIZIO HEADER */
header {
  height: 600px;
  color: white;
  background-color: #0d325a;
  background-image: url(../img/background-header.png);
  background-repeat: no-repeat;
  background-size: 1024px;
  background-position: 107% 100%;
}
/* menù navigazione */
header nav {
  padding-top: 10px;
  line-height: 50px;
}
header nav .logo {
  width: 15%;
}
header nav .menu-center {
  width: 45%;
}
header nav .menu-right {
  width: 40%;
}
header nav .menu li {
  display: inline-block;
}
header nav .menu li a.login {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px 50px;
}
header nav .menu-center .menu li a{
  margin-right: 20px;
}
/* Fine menù navigazione */

/* teaser */
header .teaser {
  width: 640px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}
header .teaser h1 {
  font-size: 60px;
}
header .teaser a {
  margin-top: 30px;
  display: inline-block;
}
/* Fine teaser */
/* FINE HEADER */

/* INIZIO MAIN */
/* banner */
main .banner .text-banner {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main .banner .text-banner span {
  font-size: 20px;
  color: gray;
}
/* Fine banner */

/* section box */
main section {
  margin: 50px 0;
}
main .box {
  width: 30%;
}
main .box p {
  color: gray;
  line-height: 25px;
}
/* above */
main .above .box {
  margin: 0 calc(5% / 3);
}
main .above .box img {
  height: 200px;
  margin-bottom: 30px
}
main .above .box h3 {
  color: #7dba00;
}
main .above .box hr {
  width: 80px;
  margin: 30px auto;
  border: 1px solid gray;
}
/* under */
main .under .box a {
  display: inline-block;
  color: #2c95c5;
  margin-top: 20px;
}
main .under .box {
  margin: 0 calc(20% / 2);
}
main .under .box:last-child {
  text-align: left;
}
/* Fine section box */
/* FINE MAIN */

/* INIZIO FOOTER */
footer .banner .col {
  width: 50%;
}
footer .banner {
  line-height: 150px;
}
footer .banner h3 {
  margin: 0;
}

/* sezione credenziali */
footer .banner .come-from {
  color: gray;
}
footer .banner .come-from #nationality {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: gray;
  background: #d9d9dd;
  border: none;
  border-bottom: 1px solid gray;
}
/* Fine sezione credenziali */

/* FINE FOOTER */
